@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Qwigley|Vollkorn');
@import "mixins.scss";

// Variables
@import "variables.scss";
@import "universal-styles.scss";
@import "box-overlap.scss";
@import "box.scss";
@import "box-two.scss";

main {
  > header {
    margin: 10px;
    margin-top: 15vh;
    text-transform: uppercase;
    font-family: $ff-third;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: .2em;
    text-align: center;
  }
  .box {
    text-align: left;
    margin-left: 10%;
    z-index: 2;
    margin-top: -.1vh;
  }
}

@media (max-width: 700px) {
  main {
    > header {
      margin-top: 36vh;
    }
  }
}
